
<div class="card mb-4" (cardiac)="myfunc2($event)" [ngStyle]="{'background-color':'#00D7FF'}"  (myevent)="myfunc($event)" #topcontainer>
  <ng-content select=[question] *ngIf="course.iconUrl; else cardtmp"></ng-content>
  
  <ng-template #cardtmp>
    <ng-container *ngTemplateOutlet="tmplref">

    </ng-container>
  </ng-template>
  <div class="card-body"  [class]="checkHeight()" #para >
    <!-- [class]="checkHeight()" -->
    <h5 class="card-title" [ngStyle]="giveStyle()">{{course.description | titlecase}}</h5>
    <p  class="card-text"        >{{course.longDescription}} <b>Start Date:</b> {{startDate | date : 'dd-MM-YY'}} <b>Price:</b>
      {{price | currency}}</p>

  </div>
  <div class="card-body" (dblclick)="myname.ontoggle()" [ngSwitch]="course.category">
    <label *ngSwitchCase="'BEGINNER'" style="margin: auto 38%;font-family:sans-serif;color: black;">beginner</label>
    <label *ngSwitchCase="'ADVANCED'" style="margin: auto 38%;font-family:sans-serif;color: black;">advanced</label>
    <label *ngSwitchCase="'INTERMEDIATE'" style="margin: auto 38%;font-family:sans-serif;color: black;">intermediate</label>
  </div>
  <div class="card-body" appHighlighted #myname="hl">
    <button class="btn btn-primary" style="background-color: #0096FF;margin: auto 32%;"><span
        style="color: #72FFFF;font-family: sans-serif ;font-size: 1em;">View Course</span></button>
  </div>
<div>{{type}}</div>
</div>
